<div class="widget">
    <h3 class="widget-title">_babe basics</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project" target="_blank">_babe on GitHub</a></li>
    <li><a class="spec" href="https://github.com/babe-project/ProComPrag">_babe server app</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">templates</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project/MinimalTemplate">minimal
    template</a></li>
    <li><a class="spec" href="https://github.com/babe-project/spr-template">SPR template</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">full experiments</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project/MentalChronometry">MentalChronometry</a></li>
    <li><a class="spec" href="https://github.com/babe-project/MentalChronometry">SerialExhaustiveSearch</a></li>
  </ul>
</div>


