<div class="widget">
    <h3 class="widget-title">_magpie basics</h3>
    <ul>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-modules" target="_blank">_magpie on GitHub</a></li>
    <li><a class="spec" href="https://github.com/magpie-ea/magpie-backend">_magpie server app</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">templates</h3>
  <ul>
      <li><a class="spec" href="https://github.com/magpie-ea/magpie-departure-point">
          departure point</a></li>
      <li><a class="spec" href="https://github.com/magpie-ea/magpie-showroom">showroom</a></li>
  </ul>
</div>

<div class="widget">
    <h3 class="widget-title">examples</h3>
    <ul>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-mental-chronometry">Mental Chronometry</a></li>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-serial-exhaustive-search">Serial Exhaustive Search</a></li>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-simon-task">Simon Task</a></li>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-confidence-interval-interpretation">Statistical Concepts</a></li>
       	<li><a class="spec" href="https://github.com/magpie-ea/magpie-mental-rotation">Mental Rotation</a></li>
        <li><a class="spec" href="https://github.com/magpie-ea/magpie-king-of-france">King of France</a></li>
    </ul>
</div>
