<div class="widget">
    <h3 class="widget-title">_babe basics</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project" target="_blank">_babe on GitHub</a></li>
    <li><a class="spec" href="https://github.com/babe-project/BABE">_babe server app</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">templates</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project/MinimalTemplate">minimal
    template</a></li>
    <li><a class="spec" href="https://github.com/babe-project/ResponseTypeTemplate">response types</a></li>
    <li><a class="spec" href="https://github.com/babe-project/CanvasTemplate">canvas graphics</a></li>
    <li><a class="spec" href="https://github.com/babe-project/spr-template">self-paced reading</a></li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget-title">full examples</h3>
  <ul>
    <li><a class="spec" href="https://github.com/babe-project/MentalChronometry">mental chronometry</a></li>
    <li><a class="spec" href="https://github.com/babe-project/SerialExhaustiveSearch">serial exhaustive search</a></li>
    <li><a class="spec" href="https://github.com/babe-project/FeatureIntegration">feature integration</a></li>
  </ul>
</div>


